tinybert/
/build_dict_ad/english.txt
/build_dict_ad/vietnam.txt
AAAI-21-SDU-shared-task-1-AI-master/
AAAI-21-SDU-shared-task-2-AD-master/
/build_dict_ad/pos_tag/
bert-base-uncased/
learning_base_AD.ipynb